{% extends 'base.html.twig' %}

{% block title %}u r home{% endblock %}

{% block body %}
    <h1>Articles</h1>
    {% for article in articles %}
        <a href="{{ path('app_article_show', {id: article.id}) }}">
            <h2>{{ article.title }}</h2>
        </a>
        {% if article.imagePath %}
            <img src="{{ article.imagePath|imagine_filter('squared_thumbnail_small') }}" alt="Article Image" height="100px">
        {% endif %}
    {% endfor %}
{% endblock %}
