{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit the Article</h1>

    <hr>

    <div style="display:flex;">
        <div>
            <h3>Details</h3>
            {{ include('article/_form.html.twig', {articleForm}) }}
        </div>
        <div>
            <h3>References</h3>

            <form action="" method="post" enctype="multipart/form-data">
                <div>
                    <input type="file" name="reference" id="">
                </div>
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
{% endblock %}
