{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit the Article</h1>

    <hr>

    <div style="display:flex;">
        <div>
            <h3>Details</h3>
            {{ include('article/_form.html.twig', {articleForm}) }}
        </div>
        <div>
            <h3>References</h3>

            <form
                    action="{{ path('admin_article_add_reference', {id: article.id}) }}"
                    method="post"
                    enctype="multipart/form-data"
                    class="dropzone js-reference-dropzone"
            ></form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;

        document.addEventListener('DOMContentLoaded', () => initializeDropzone());

        function initializeDropzone(){
            const formElement = document.querySelector('.js-reference-dropzone');

            if(!formElement){
                return;
            }

            new Dropzone(formElement, {
                paramName: 'reference',
                init: function(){
                    this.on('error', (file, data) => {
                        if(data.message){
                            this.emit('error', file, data.message);
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}