{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    {% if article.imagePath %}
        <img src="{{ article.imagePath|imagine_filter('squared_thumbnail_medium') }}" alt="Article Image">
    {% endif %}
{% endblock %}